* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/** {
	border: 1px solid red;
 } */

body {
	height: 110vh;
	width: 100%;
	display: grid;
  grid-template-areas:
  "header header"
  "nav article"
  "nav article";
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 42% 43%;
}

/*HEADER!!!*************************************/

header {
	display: grid;
	grid-area: header;
	background: #404041;
	color: #dd1972;
	font-size: 2.4vw;
	text-align: center;
	padding: 2.25%;
}

#header__h1 {
	line-height: 70%;
}

#header__p {
	color: #ffffff;
	font-size: 1.5vw;
}

#h1__font--change {
	font-weight: 300;
}

#text__decor {
	position: relative;
	bottom: 8px;
}

/*LEFT SIDE / GAME ********************************************/

.main__left--conatiner {
	display: grid;
	grid-area: nav;
	background: #f7f7f7;
	padding: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#left__set--range {
	width: 100%;
	height: 130px;
	background: #ffffff;
	border: 2px solid #D1D2D4;
	padding: 2%;
	color: #6e6e6e;
}

#left__submit--guess {
	width: 100%;
	height: 305px;
	background: #ffffff;
	border: 2px solid #D1D2D4;
	padding: 2%;
	color: #6e6e6e;
}

/*#left__range--text {
	font-weight: 300;
}*/

#left__latest--score {
	width: 100%;
	height: 220px;
	background: #ffffff;
	border: 2px solid #d0d2d3;
	color: #636363;
	padding: 7px;
}

#range__input--container {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
}

#current__range--container {
	width: 100%;
	align-items: center;
	display: inline-block;
}

#current__range--container p {
/*	display: inline;*/
}

#p1 {
	width: 60%;
	height: 60px;
	margin-right: 10px;
}

#g1 {
	width: 35%;
	height: 60px;
}

#p2 {
	width: 60%;
	height: 60px;
	margin-right: 10px;
}

#g2 {
	width: 35%;
	height: 60px;
}

.button {
	width: 150px;
	height: 35px;
	background: #6E6E6E;
	color: #ffffff;
	border: none;
	border-radius: 20px;
	text-align: center;
	margin: 8px 8px 0;
	font-size: 16px;
	font-weight: bold;
}

#js__guess--button {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-top: 15px;
}

.reset__button {
	background: #d0d2d3;
	color: #ffffff;
}

.clear__button {
	background: #d0d2d3;
	color: #ffffff;
}

.js__input--name1 {
	width: 100%;
	height: 35px;
	display: inline;
	padding-left: 6px;
	font-size: 18px;
	color: #6e6e6e;
	border: 2px solid #d0d2d3;
}

.js__input--name2 {
	width: 100%;
	height: 35px;
	display: inline;
	padding-left: 6px;
	font-size: 18px;
	color: #6e6e6e;
	border: 2px solid #d0d2d3;
}

.js__name1--guess {
	width: 100%;
	height: 35px;
	padding-left: 6px;
	font-size: 18px;
	color: #6e6e6e;
	border: 2px solid #d0d2d3;
}

.guess1__input--box {
	height: 70px;
}

.guess2__input--box {
	height: 70px;
}

.js__name2--guess {
	width: 100%;
	height: 35px;
	padding-left: 6px;
	font-size: 18px;
	color: #6e6e6e;
	border: 2px solid #d0d2d3;
}

#js__name2--guess {
	display: block;
}

/* NEW CSS CODE */

.score--card {
	width: 50%;
	height: 100%;
	text-align: center;
	margin: 8px;
}

#latest__score--text {
	width: 300px;
	height: 15%;
	display: block;
}

.guess--text {
	font-size: 100px;
	color: #dd1972;
	font-weight: 700;
	line-height: 90%;
}

#temp__score--score {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.js__min--range {
	width: 90%;
	height: 35px;
	padding-left: 7px;
	font-size: 18px;
	color: #6e6e6e;
	border: 2px solid #d0d2d3;
}

.js__max--range {
	width: 90%;
	height: 35px;
	padding-left: 7px;
	font-size: 18px;
	color: #6e6e6e;
	border: 2px solid #d0d2d3;
}

#mn-range,
#mx-range {
  width: 40%;
	margin-top: 2%;
}

.error {
	height: 15px;
	width: auto;
	font-size: 15px;
}

.form-box {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#js__range--button {
	height: 35px;
  margin: 6% 1% 0 1%;
	width: 110px;
	font-size: 16px;
	font-weight: bold;
	background: #6E6E6E;
	color: #ffffff;
	border: none;
	border-radius: 20px;
}

/*.range__box {
	display: flex;
	align-items: flex-end;
	border: 1px blue dotted;
}*/

/*RIGHT SIDE / PLAYER CARD ********************************/

.main__right--conatiner {
	display: grid;
	grid-area: article;
	background: #D1D2D4;
	border-left: 3px solid #6e6e6e;
	padding: 3%;
}

.game__card {
	width: 100%;
	height: 325px;
	border: 2px solid #636363;
	background: #f7f7f7;
	color: #6E6E6E;
	padding: 1.5%;
}

#game__card--vs {
	height: 20%;
	border-bottom: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#game__card--vs h3 {
	font-size: 2.3vw;
}

#gamecard__h4--text {
	font-size: 1.4vw;
	font-weight: lighter;
	border: 0 dotted purple;
}

#game__card--winner {
	height: 60%;
	font-weight: 700;
	text-align: center;
	font-size: 7vw;
}

#gamecard__winner--text {
	font-weight: 300;
	font-size: 4vw;
}

#game__card--stats {
	height: 20%;
	border-top: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.js__card--delete {
	width: 35px;
	height: 35px;
	float: right;
}

#guess__count--text {
	font-weight: 300;
}

.error-box {
	border: 2px solid #dd1972;
}

.error-img {
	height: 15px;
  width: 15px;
}

.alert__message--range,
.alert__message--name1,
.alert__message--name2,
.alert__message--guess1,
.alert__message--guess2 {
  color: #dd1972;
  font-size: 14px;
  font-weight: 300;
}

.alert__message--range {
	margin-top: 5px;
	position: absolute;
	z-index: 2;
}

.current__range--h3{
	margin-top: 25px;
}

/*MEDIA QUERY***********************/

@media only screen and (max-width: 850px) {

	body {
	height: 130vh;
	display: grid;
  grid-template-areas:
  "header header"
  "nav nav"
  "article article";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 42% 43%;
}

/*  header {
	display: grid;
	grid-area: header;
	padding: 3.5%;
}

.main__left--conatiner {
	display: grid;
	grid-area: nav;
}

.main__right--conatiner {
	display: grid;
	grid-area: article;
	background: #D1D2D4;
	border-left: 3px solid #6e6e6e;
	padding: 3%;
}*/


}



